[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/NTPClient"]
	path = lib/NTPClient
	url = https://github.com/taranais/NTPClient.git
